*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Helvetica;
  font-size: 10px;
  line-height: .200;
}

h1 {
  font-size: 14px;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  padding-bottom: 20px;
}

div {
  padding-top: 4px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

.location {
  background-color: #cccccc;
  padding-left: 15px;
}

div:hover {
  background: #979797;
}

.arrow {
  float: right;
  padding: 15px;
  padding-top: 15px;
}
